@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

.wallet_login {
    flex: 1;
    width: 720px;
    height: 640px;
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
    left: 30vw;
    top: 10vw;
}

.wallet_login:hover {
    scale: 1.005;
}

.wallet_login-new {
    font-family: 'Stick';
    font-size: large;
    width: 300px;
    height: 100px;
    background: cyan;
    border-radius: 15px;
    box-shadow: 5px 5px 5px;
}

.wallet_login-new:hover {
    scale: 1.05;
}

.wallet_login-existing {
    font-family: 'Stick';
    font-size: large;
    width: 300px;
    height: 100px;
    background: cyan;
    border-radius: 15px;
    box-shadow: 5px 5px 5px;
}

.wallet_login-existing:hover {
    scale: 1.05;
}
